body { 
  padding: 50px;
}

.form-container {
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #eee5e6;
}

.message-box {
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #eee5e6;
  text-align: center;
}
