<div class="page-headeasdffdsr">
  <h1>Eve Online Sales Tracker</h1>

  <nav role="navigation" class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li ng-class="{active: headerCtrl.getCurrentRoute() == '/'}">
          <a href="/" class="navbar-brand">Home</a>
        </li>
        <ul>
    </div>

    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: headerCtrl.getCurrentRoute() == '/characters'}"><a ng-href="/characters">Characters</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: headerCtrl.getCurrentRoute() == '/login}">
          <a ng-href="#" ng-if="headerCtrl.AuthenticationService.isAuthenticated()" ng-click="headerCtrl.logOut()">Logout {{headerCtrl.AuthenticationService.userName}}</a>
          <a ng-href="/login" ng-if="!headerCtrl.AuthenticationService.isAuthenticated()">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
current- {{headerCtrl.getCurrentRoute()}}
